body {
  padding-top: 5rem;
  font-family: 'Lato',Helvetica,Arial,sans-serif;
}


/* Home */

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.volker-col {
	border: 1px solid green;
}

.volker-row {
	border: 1px solid blue;
}

.photo {
	padding-bottom: 3rem;
}

.maus {
	background-color: #103628;
}

.maus-title {
	color: #FfF101;
}

.maus-light {
	background-color: #E1E6E4;
}

.maus-icon {
	font-size: xx-large;
}